@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h1>iMusic</h1>
    <p class="lead">Mostre seus talentos e seja o melhor no meio musical!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="http://chrisgar.com.br/blog/wp-content/uploads/2014/11/BANDA.jpg" class="img-responsive"/>
        <p><a class="btn btn-success" href="">Cadastre sua banda &raquo;</a></p> <!--Adicionar rota-->
    </div>
    <div class="col-md-4">
        <img src="http://blogfeiradanoiva.com.br/wp/wp-content/uploads/2017/03/musica-de-casamento-quantas-sao-e-como-escolher-a-ideal-770x770.jpeg" class="img-responsive" />
        <p><a class="btn btn-success" href="">Cadastre suas músicas &raquo;</a></p> <!--Adicionar rota-->
    </div>
    <div class="col-md-4">
        <img src="https://www.aeromusicfestival.com.br/images/convite.jpg" class="img-responsive" />
        <p><a class="btn btn-success" href="">Cheque agora os eventos &raquo;</a></p> <!--Adicionar rota-->
    </div>
</div>