@model SistemaCompeticao.Models.Event

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Tem certeza de que deseja excluir?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome do Evento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Data do Evento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-outline-dark" /> |
            @Html.ActionLink("Voltar para Lista", "Index")
        </div>
    }
</div>
